header#main-header {
  height: 100px;
  width: 100%;
  background: #2196F3;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;

}

header#main-header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  border: 0px solid black;
}



