textarea:focus, input:focus{
  outline: none;
}

header#main-header {
  height: 100px;
  width: 100%;
  background: #2196F3;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  color: #fff;

}

header#main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  margin: 0 auto;
  border: 0px solid black;
}

header#main-header .container input {
  background-color: #42A5F5;
  font-size: 16px;
  border: none;
  width: 400px;
  height: 35px;
  line-height: 1.6;
  margin-right: 400px;
  color: rgb(20, 16, 16);
}

::placeholder {
  color: #fff;
  opacity: 0.5;
  font-size: 14px;
  padding-left: 5px;
}